form.resistetion-box {
    margin-top: 45px !important;
    width: 500px;
    margin: auto;
    border: 1px solid #473b3b;
    padding: 74px;
}
form.resistetion-box h2 {
    margin-bottom: 44px;
    margin-top: -28px;
    font-size: 23px;
}

form.resistetion-box input[type='text'] {
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}
form.resistetion-box input[type='date'] {
    width: 350px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
}

form.resistetion-box input[type='submit'] {
    width: 350px;
    padding: 5px;
    font-size: 18px;
    border: navajowhite;
    background: #00adff;
    color: white;
    border-radius: 7px;
}